<div class="ui grid">
  <div class="six wide column">
    <div class="ui segment orange inverted">
      <pre>      
1. Just : [ count, perpage, pagination ]
      </pre>
    </div>
  </div>

  <div class="ten wide column">
    <table class="ui celled table segment">
      <thead>
        <th ng-repeat="k in heads.keys">
           {{ heads.dict[k] }}
        </th>
      </thead>
      <tbody>
        <tr ng-repeat="row in rows">
          <td ng-repeat="col in row">{{col}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="{{heads.length}}">
            <div class="ui grid">
              <div class="eight wide column">
                <div class="ui label purple">{{rows.length}} / {{count}}</div>
                <div class="ui active inline loader"></div>
              </div>

              <div class="eight wide column">
                <div class="floated right ui pagination small menu">
                  <a class="item" ng-click="loadPage(p)"
                     ng-class="p==null && 'disabled' || (p==page && 'active' || '')"
                     ng-repeat="p in patination">
                    {{ p==null && '...' || p }}
                  </a>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
